ion-avatar {
    max-width: 45px;
    max-height: 45px;
}

ion-searchbar {        
  transform: scaleY(1.0);
}

.header{
    background: linear-gradient(#00348B,#003A8F,#003F93,#014296,#00489B,#014F9F,#0054A4,#0156A5,#005CAA,#015DAB);
    padding: 10px 10px 5px 10px
}

.custom-search{
    padding: 0px;
    margin-top: 8px;
    margin-bottom: 7px;
}